<div class="card">
    <div class="card__options">
        &#8226;&#8226;&#8226;
        <div class="file-options-menu hide">
            <a href="#">Скачать</a>
            <a href="#">Открыть</a>
            <a href="#">Поделиться</a>
            <a href="#">Удалить</a>
        </div>
    </div>
    <img class="card__img" src="https://via.placeholder.com/100" alt="Placeholder Image" data-tag="img">
    <div class="card__name" data-tag="name"></div>
    <div class="card__date" data-tag="date"></div>
</div>
