.sidebar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 calc(50% - 8px); /* Задаем элементам равную ширину (половину контейнера минус отступ) */
        margin-bottom: 8px; /* Задаем отступ между картинками */
        box-sizing: border-box;
    }
}
